* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 206, 206);
}

div#content {
    position: relative;
    top: 2em;
    left: 5%;
    width: 80%;
    height: 90%;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 5%;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 1em;
}

h3 {
    margin: 1em;
}

h4 {
    margin: 1em;
}

p {
    margin: 8px;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}